<!DOCTYPE html>
<html>
　    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=2.0",user-scalable=yes>
<head>
    <title>旅MUSE: MUSE一覧｜憧れの女性達が綴る旅のウェブマガジン</title>
    <%= stylesheet_link_tag    "smartphone/application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "smartphone/application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
</head>
<body>

<div class="menu">
    <%= link_to image_tag('tabimuse_logo.png',:class => "logo"), :controller=>"escape", :action => "index" %>
    <div class="menulist">
        <div class="menu_area">
            <%= link_to image_tag('timeline-pink.png',:class => "timeline"), :controller=>"escape", :action => "index" %>
        </div>
        <div class="menu_area">
            <%= link_to image_tag('collection.png',:class => "collection"), :controller=>"escape", :action => "index" %>
        </div>
        <div class="menu_area">
            <%= link_to image_tag('muse.png',:class => "muse"), :controller=>"escape", :action => "index" %>
        </div>
    </div>
</div>


<%= yield %>

</body>
</html>
