<% detail_muse.each do |muse| %>
    <% @escapes = Escapes.where('user_id = ?', muse['id']).order(time: :desc).paginate(:page => params[:page],:per_page => 3) %>

    <% @collections = Collections.where('user_id = ?', muse['id']).order(end_date: :desc) %>

    <% garally_count = 0 %>
    <% image_count = 0 %>
    <div class="cardview-muse">
        <div class="area-muse-detail">
            <div class="bottomarea-muse">
                <div class="iinearea-muse">
                    <img class="museicon-muse-detail" src="<%= muse['thumb_image_file'] %>">

                    <p class="musecoporation-detail"><%= muse['job'] %></p>

                    <p class="museposition-detail"><%= muse['position'] %></p>

                    <p class="musename-detail"><%= muse['username'] %></p>
                </div>

            </div>
            <div class="intro">
            </div>

            <p class="muse-detail-intro"><%= muse['biography'] %>
            </p>
        </div>
        <ul class="tab">
            <li class="litab1 select litab1-selected">TIMELINE</li>
            <li class="litab2 litab2-notselected">ESCAPE</li>

        </ul>
        <ul class="content">
            <li class="">
                <div class="row3">

                    <%= render :partial => "muse/detail_muse_escapes",  locals: { escapes: @escapes} %>

                </div>
            </li>
            <li class="hide">
                <div class="row2">
                    <div class="row2maincontents-muse">
                        <!-- //////////// -->
                        <% @collections.each do |collection| %>
                            <div class="row2cardview-muse-left">


                                <%= link_to ({:controller => :collection, :action => :show, :id => collection['id']}), {:class => ''} do %>
                                    <img class="thumbnail-muse" src="<%= collection['cover_image_file'] %>">
                                <% end %>

                                <div class="bottomarea-muse">
                                    <div class="iinearea-muse-detail">
                                        <p class="collectionname-muse-detail "><%= collection['title'] %></p>

                                    </div>
                                </div>

                            </div>
                        <% end %>
                    </div>
                </div>
            </li>
        </ul>
    </div>
<% end %>
<%= will_paginate @escapes %>

<script>

    $(function () {
        //タブクリックファンクション
        $('.tab li').click(function () {

            //タブが何番目かを調べ
            var index = $('.tab li').index(this);

            //コンテンツを一度すべて非表示にし、
            $('.content li').css("display", "none");

            //クリックされたタブと同じ順番のコンテンツを表示します。
            $('.content li').eq(index).css('display', 'block');


            //一度タブについているクラスselectを消し、
            $('.tab li').removeClass('select');

            $('.tab li').removeClass('litab1-selected');
            $('.tab li').removeClass('litab1-notselected');
            $('.tab li').removeClass('litab2-selected');
            $('.tab li').removeClass('litab2-notselected');

            // alert(index);
            if (index == 0) {
                $('.tab .litab1').addClass('litab1-selected');
                $('.tab .litab2').addClass('litab2-notselected');
            } else if (index == 1) {
                $('.tab .litab1').addClass('litab1-notselected');
                $('.tab .litab2').addClass('litab2-selected');
            } else {

            }
            //クリックされたタブのみにクラスselectをつけます。
            $(this).addClass('select');

        });
    });
</script>

